body {
  margin: 0;
  font-family: GothamProCryllic !important ;
  font-size: 15px;
  font-weight: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'GothamProMediumCryllic';
  src: url(../src/fonts/GothamProMediumCryllic.woff);
}

@font-face {
  font-family: 'GothamProCryllic';
  src: url(../src/fonts/GothamProCryllic.woff);
}

.ui.menu .primaryColor.active.item,
.ui.primaryColor.menu .active.item {
  border-color: #5867dd !important;
  color: #5867dd !important;
  font-weight: 500 !important;
}

.ui.primaryColor.pointing.menu {
  border-bottom: 2px solid rgba(88, 103, 221, 0.3) !important;
}

table.dataTableHeaderColor > thead > tr > th {
  color: #1d5383;
}

.headerRectangle {
  background-image: linear-gradient(to left, #fbac48, #ff4848);
}

.iconWhite {
  color: white;
  margin-right: 15px;
}

.headerIcon {
  height: 7.43vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mainImgContainer {
  /* height: 89vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainImgStyle {
  border-radius: 1000px;
  height: 300px;
  width: 300px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgTxt {
  margin: 0px;
}
.imgTxtContainer {
  margin-top: 30px;
  text-align: center;
}
.containerDashboard {
  height: 100vh;
}
.blue_text {
  color: #0091ff;
}
.courseQuestionDropdown .dropdown {
  display: none;
}
.imgExpandBtn {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}
.imgExpandBtn i {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.mainHeight {
  height: 92.57vh;
}
.toastInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.toastTxt {
  color: #9dc68d;
}
.toastTxtNoMeal {
  color: #ff8888;
}
.loginContainer {
  background-image: url(./imgs/bg1.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.mt100 {
  margin-top: 100px;
}
.nomch-login-blk {
  margin: auto;
  max-width: 355px;
  min-width: 355px;
  background: none;
  border-width: 1px;
  border-style: solid;
  border: none;
  padding: 40px;
  border-radius: 10px;
}
.modal {
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

.primaryColor a {
  font-family: GothamProCryllic, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.headerRectangle .item {
  font-family: GothamProCryllic, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.form-control {
  font-family: GothamProCryllic, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.table-responsive {
  height: 60vh;
}

.ui.pointing.secondary.primaryColor {
  overflow: auto;
}

@media only screen and (max-width: 700px) {
  .mainImgStyle {
    border-radius: 1000px;
    height: 150px;
    width: 150px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* @media only screen and (min-height: 100vh) {
  .mainHeight {
    height: 120vh;
  }
} */
